/* font import!!!*/

body {
    margin: 0;
    background: white;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #f3f3f3;
}

.navbar .logo {
    margin-top: 6px;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navbar nav {
    display: none;
}

.navbar header {
    display: flex;
    justify-content: space-between;
}

.container {
    padding: .8em 1.2em;
}



.mobile-menu {
    width: 25px;
    height: auto;
    margin-right: 20%;
    margin-top: 30%;
    cursor: pointer;
}

.exit-btn {
    width: 25px;
    height: auto;
    fill: white;
    float: right;
    cursor: pointer;
    margin: .5em;
}

.hide-mobile {
    display: none;
}

nav.mobile-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    width: 66%;
    background: #20272E;
    height: 100vh;
    padding: 1em;
}

nav ul {
    margin-top: 5em;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1.3em;
    text-align: right;
    font-weight: normal;
}

nav li a:hover  {
    font-weight: bold;
}

.table-heading {
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: .9em;
    font-size: 5.2vw;
}

.hours {
    font-weight: 700;
    text-align: center;
}

.not-hours {
    font-weight: 600;
}

.not-days {
    text-align: center;
}

table {
    margin-right: 1em;
    margin-left: .4em;
    width: 100%;
    height: auto;
    font-size: 3.8vw;
}

tr {
    text-align: left;
}

th {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: .5em;
}

td {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: .5em;
}

.hero {
    background-color: #f3f3f3;
}

.contact {
    font-size: 4vw;
    font-weight: 600;
    color: white;
    background-color: #f3f3f3;
}

.contact h2 {
    margin-left: 1em;
    font-weight: 600;
}

.contact p {
    margin-left: 1.4em;
}

.contact-border {
    margin-top: -.5em;
    padding-top: .1em;
    padding-bottom: .9em;
    background-color: #000000;
    border-radius: 25px;
}

.doctor {
    margin-top: 1em;
}

.logo {
    font-weight: 700;
}

.table-border {
    padding-top: .1em;
    padding-bottom: .9em;
    background-color: #EBEBEB;
    border-radius: 25px;
}

.email {
    line-height: 2; 
}

.address {
    line-height: 1;
}

a[href^="tel:"] {
    text-decoration: none;
    color: darkgray;
  }


